In [1]:
import pandas as pd

<h1>Cargamos los datasets</h1>

In [2]:
game = pd.read_parquet("G:\Mi unidad\BOOTCAMPS\SOYHENRY\CIENCIA DE DATOS\CURSO\PT07\PI_MLOPS\DATA_LIMPIA\gameclean.parquet")
item = pd.read_parquet("G:\Mi unidad\BOOTCAMPS\SOYHENRY\CIENCIA DE DATOS\CURSO\PT07\PI_MLOPS\DATA_LIMPIA\itemclean.parquet")
review = pd.read_parquet(r"G:\Mi unidad\BOOTCAMPS\SOYHENRY\CIENCIA DE DATOS\CURSO\PT07\PI_MLOPS\DATA_LIMPIA\reviewclean.parquet")

<h1>Analizamos estructuras</h1>

In [3]:
game.rename(columns={'year': 'year_game'}, inplace=True)
print("game ",game.info())
game.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30067 entries, 0 to 30066
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     24046 non-null  object
 1   genres        28833 non-null  object
 2   app_name      30066 non-null  object
 3   tags          29906 non-null  object
 4   specs         29398 non-null  object
 5   price         28820 non-null  object
 6   early_access  30067 non-null  bool
 7   item_id       30067 non-null  object
 8   year_game     29782 non-null  Int64
dtypes: Int64(1), bool(1), object(7)
memory usage: 1.9+ MB
game  None

,publisher,genres,app_name,tags,specs,price,early_access,item_id,year_game
0,Kotoshiro,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,"['Strategy', 'Action', 'Indie', 'Casual', 'Sim...",['Single-player'],4.99,False,761140,2018
1,"Making Fun, Inc.","['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,"['Free to Play', 'Strategy', 'Indie', 'RPG', '...","['Single-player', 'Multi-player', 'Online Mult...",Free To Play,False,643980,2018
2,Poolians.com,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,"['Free to Play', 'Simulation', 'Sports', 'Casu...","['Single-player', 'Multi-player', 'Online Mult...",Free to Play,False,670290,2017
3,彼岸领域,"['Action', 'Adventure', 'Casual']",弹炸人2222,"['Action', 'Adventure', 'Casual']",['Single-player'],0.99,False,767400,2017
4,Trickjump Games Ltd,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,"['Action', 'Adventure', 'Simulation', 'FPS', '...","['Single-player', 'Steam Achievements']",3.99,False,772540,2018
5,None,"['Free to Play', 'Indie', 'Simulation', 'Sports']",SNOW - All Access Basic Pass,"['Free to Play', 'Indie', 'Simulation', 'Sports']","['Single-player', 'Multi-player', 'Online Mult...",9.99,False,774276,2018
6,Poppermost Productions,"['Free to Play', 'Indie', 'Simulation', 'Sports']",SNOW - All Access Pro Pass,"['Free to Play', 'Indie', 'Simulation', 'Sports']","['Single-player', 'Multi-player', 'Online Mult...",18.99,False,774277,2018
7,Poppermost Productions,"['Free to Play', 'Indie', 'Simulation', 'Sports']",SNOW - All Access Legend Pass,"['Free to Play', 'Indie', 'Simulation', 'Sports']","['Single-player', 'Multi-player', 'Online Mult...",29.99,False,774278,2018
8,RewindApp,"['Casual', 'Indie', 'Racing', 'Simulation']",Race,"['Indie', 'Casual', 'Simulation', 'Racing']","['Single-player', 'Multi-player', 'Partial Con...",None,False,768800,2018
9,Qucheza,"['Action', 'Indie', 'Simulation', 'Early Access']",Uncanny Islands,"['Early Access', 'Action', 'Indie', 'Simulatio...",['Single-player'],None,True,768570,<NA>

In [4]:
print("item ", item.info())
item.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87625 entries, 0 to 87624
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           87625 non-null  object
 1   items_count       87625 non-null  int64
 2   item_id           87625 non-null  object
 3   playtime_forever  87625 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.7+ MB
item  None

,user_id,items_count,item_id,playtime_forever
0,76561197970982479,277,"[10, 20, 30, 40, 50, 60, 70, 130, 300, 240, 38...","[6, 0, 7, 0, 0, 0, 0, 0, 4733, 1853, 333, 75, ..."
1,js41637,888,"[10, 80, 100, 300, 30, 40, 60, 240, 280, 360, ...","[0, 0, 0, 220, 0, 0, 0, 62, 0, 0, 0, 0, 0, 0, ..."
2,evcentric,137,"[1200, 1230, 1280, 1520, 220, 320, 340, 360, 3...","[923, 0, 0, 158, 1323, 0, 90, 0, 234, 113, 507..."
3,Riot-Punch,328,"[10, 20, 30, 40, 50, 60, 70, 130, 80, 100, 300...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 67, 2304, 0, 0,..."
4,doctr,541,"[300, 20, 50, 70, 130, 10, 30, 40, 60, 80, 100...","[1131, 89, 178, 108, 313, 93, 16, 4, 0, 13, 47..."
5,MinxIsBetterThanPotatoes,371,"[50, 240, 320, 4000, 6570, 220, 340, 360, 380,...","[256, 167, 3674, 358, 0, 1299, 29, 0, 170, 275..."
6,NitemarePK,304,"[240, 3830, 4000, 320, 340, 9180, 12900, 20, 5...","[3529, 1291, 4654, 85, 73, 0, 1051, 0, 0, 0, 0..."
7,themanwich,258,"[220, 340, 320, 360, 380, 4000, 6860, 7670, 40...","[219, 0, 4, 0, 0, 737, 0, 1158, 0, 0, 111, 356..."
8,maplemage,629,"[240, 300, 320, 340, 1200, 1230, 1280, 2100, 2...","[5751, 335, 601, 16, 0, 0, 0, 0, 0, 28255, 676..."
9,Wackky,0,[],[]

In [5]:
review.rename(columns={'year': 'year_review'}, inplace=True)
print("review ", review.info())
review.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25486 entries, 0 to 25485
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             25486 non-null  object
 1   item_id             25486 non-null  object
 2   recommend           25486 non-null  object
 3   year_review         25486 non-null  object
 4   sentiment_analysis  25486 non-null  object
dtypes: object(5)
memory usage: 995.7+ KB
review  None

,user_id,item_id,recommend,year_review,sentiment_analysis
0,76561197970982479,"[1250, 22200, 43110]","[True, True, True]","[2011, 2011, 2011]","[2, 2, 2]"
1,js41637,"[251610, 227300, 239030]","[True, True, True]","[2014, 2013, 2013]","[2, 2, 2]"
2,evcentric,"[248820, 370360, 237930, 263360, 107200, 224500]","[True, True, True, True, True, True]","[None, 2015, 2014, 2014, 2014, 2014]","[2, 2, 2, 1, 2, 2]"
3,doctr,"[250320, 20920, 204100, 224600, 207610, 108710]","[True, True, True, True, True, True]","[2013, 2012, 2012, 2014, 2012, 2012]","[2, 2, 2, 2, 0, 2]"
4,maplemage,"[211420, 211820, 730, 204300]","[True, True, True, True]","[2014, 2013, 2014, 2013]","[1, 2, 2, 2]"
5,Wackky,"[249130, 207610, 550, 65800, 220]","[True, True, True, True, True]","[2014, 2012, 2012, 2012, 2012]","[1, 1, 2, 2, 2]"
6,76561198079601835,[730],[True],[None],[1]
7,MeaTCompany,[730],[True],[None],[2]
8,76561198089393905,"[72850, 440]","[True, True]","[2015, 2014]","[0, 1]"
9,76561198156664158,[252950],[True],[None],[2]

<h1>Explotamos el dataframe de item y review</h1>

In [6]:

# Función para explotar dos columnas simultáneamente
def explode_columns(df, col1, col2, extra_col):
    # Combinar las listas de ambas columnas utilizando zip y explotarlas
    exploded = df.apply(lambda row: list(zip(row[col1], row[col2], [row[extra_col]] * len(row[col1]))), axis=1).explode()
    # Convertir la serie resultante en un DataFrame
    exploded_df = exploded.apply(pd.Series)
    # Asignar nombres de columnas
    exploded_df.columns = [col1, col2, extra_col]
    return exploded_df.reset_index(drop=True)

In [7]:
df_item = explode_columns(item, 'item_id', 'playtime_forever', 'user_id')
df_item.head(30)

   item_id  playtime_forever            user_id
0       10               6.0  76561197970982479
1       20               0.0  76561197970982479
2       30               7.0  76561197970982479
3       40               0.0  76561197970982479
4       50               0.0  76561197970982479
5       60               0.0  76561197970982479
6       70               0.0  76561197970982479
7      130               0.0  76561197970982479
8      300            4733.0  76561197970982479
9      240            1853.0  76561197970982479
10    3830             333.0  76561197970982479
11    2630              75.0  76561197970982479
12    3900             338.0  76561197970982479
13   34440               0.0  76561197970982479
14    3920               2.0  76561197970982479
15    6400             286.0  76561197970982479
16    6910            2685.0  76561197970982479
17    7670             633.0  76561197970982479
18  409710               0.0  76561197970982479
19     220             696.0  76561197970982479
20     320               0.0  76561197970982479
21     340              37.0  76561197970982479
22     360               0.0  76561197970982479
23     380             168.0  76561197970982479
24     400             173.0  76561197970982479
25     420             323.0  76561197970982479
26    9340             692.0  76561197970982479
27  228200               0.0  76561197970982479
28   11450               0.0  76561197970982479
29    7940            1185.0  76561197970982479

In [8]:
# Función para explotar dos columnas simultáneamente
def explode_columns2(df, col1, col2, col3, col4, extra_col):
    # Combinar las listas de ambas columnas utilizando zip y explotarlas
    exploded = df.apply(lambda row: list(zip(row[col1], row[col2], row[col3], row[col4],[row[extra_col]] * len(row[col1]))), axis=1).explode()
    # Convertir la serie resultante en un DataFrame
    exploded_df = exploded.apply(pd.Series)
    # Asignar nombres de columnas
    exploded_df.columns = [col1, col2, col3, col4, extra_col]
    return exploded_df.reset_index(drop=True)

In [9]:
df_review = explode_columns2(review, 'item_id', 'recommend', 'year_review', 'sentiment_analysis', 'user_id')
df_review.head(30)

   item_id recommend year_review  sentiment_analysis            user_id
0     1250      True        2011                 2.0  76561197970982479
1    22200      True        2011                 2.0  76561197970982479
2    43110      True        2011                 2.0  76561197970982479
3   251610      True        2014                 2.0            js41637
4   227300      True        2013                 2.0            js41637
5   239030      True        2013                 2.0            js41637
6   248820      True        None                 2.0          evcentric
7   370360      True        2015                 2.0          evcentric
8   237930      True        2014                 2.0          evcentric
9   263360      True        2014                 1.0          evcentric
10  107200      True        2014                 2.0          evcentric
11  224500      True        2014                 2.0          evcentric
12  250320      True        2013                 2.0              doctr
13   20920      True        2012                 2.0              doctr
14  204100      True        2012                 2.0              doctr
15  224600      True        2014                 2.0              doctr
16  207610      True        2012                 0.0              doctr
17  108710      True        2012                 2.0              doctr
18  211420      True        2014                 1.0          maplemage
19  211820      True        2013                 2.0          maplemage
20     730      True        2014                 2.0          maplemage
21  204300      True        2013                 2.0          maplemage
22  249130      True        2014                 1.0             Wackky
23  207610      True        2012                 1.0             Wackky
24     550      True        2012                 2.0             Wackky
25   65800      True        2012                 2.0             Wackky
26     220      True        2012                 2.0             Wackky
27     730      True        None                 1.0  76561198079601835
28     730      True        None                 2.0        MeaTCompany
29   72850      True        2015                 0.0  76561198089393905

In [10]:
merged_df = pd.merge(df_item, df_review, on=['user_id', 'item_id'], how='inner')

In [11]:
merged_df.head(20)

,item_id,playtime_forever,user_id,recommend,year_review,sentiment_analysis
0,22200,271.0,76561197970982479,True,2011,2.0
1,1250,10006.0,76561197970982479,True,2011,2.0
2,43110,834.0,76561197970982479,True,2011,2.0
3,227300,551.0,js41637,True,2013,2.0
4,239030,349.0,js41637,True,2013,2.0
5,251610,84.0,js41637,True,2014,2.0
6,107200,3225.0,evcentric,True,2014,2.0
7,224500,13618.0,evcentric,True,2014,2.0
8,248820,2328.0,evcentric,True,None,2.0
9,263360,447.0,evcentric,True,2014,1.0
10,237930,508.0,evcentric,True,2014,2.0
11,370360,403.0,evcentric,True,2015,2.0
12,20920,2981.0,doctr,True,2012,2.0
13,108710,1185.0,doctr,True,2012,2.0
14,207610,1972.0,doctr,True,2012,0.0
15,204100,5297.0,doctr,True,2012,2.0
16,250320,778.0,doctr,True,2013,2.0
17,211420,12347.0,maplemage,True,2014,1.0
18,204300,17589.0,maplemage,True,2013,2.0
19,730,13955.0,maplemage,True,2014,2.0

In [12]:
pd_final = pd.merge(merged_df, game, on='item_id', how='inner')

In [14]:
pd_final.head(10)

,item_id,playtime_forever,user_id,recommend,year_review,sentiment_analysis,publisher,genres,app_name,tags,specs,price,early_access,year_game
0,22200,271.0,76561197970982479,True,2011,2.0,ACE Team,"['Action', 'Indie']",Zeno Clash,"['Action', 'Indie', 'Surreal', ""Beat 'em up"", ...","['Single-player', 'Steam Achievements', 'Steam...",9.99,False,2009
1,1250,10006.0,76561197970982479,True,2011,2.0,Tripwire Interactive,['Action'],Killing Floor,"['FPS', 'Zombies', 'Co-op', 'Survival', 'Actio...","['Single-player', 'Multi-player', 'Co-op', 'Cr...",19.99,False,2009
2,227300,551.0,js41637,True,2013,2.0,SCS Software,"['Indie', 'Simulation']",Euro Truck Simulator 2,"['Simulation', 'Driving', 'Open World', 'Reali...","['Single-player', 'Steam Achievements', 'Steam...",19.99,False,2013
3,239030,349.0,js41637,True,2013,2.0,3909,"['Adventure', 'Indie']","Papers, Please","['Indie', 'Political', 'Simulation', 'Point & ...","['Single-player', 'Steam Achievements', 'Steam...",9.99,False,2013
4,107200,3225.0,evcentric,True,2014,2.0,MinMax Games Ltd.,"['Action', 'Indie', 'RPG', 'Strategy']",Space Pirates and Zombies,"['Space', 'Action', 'Indie', 'Sci-fi', 'Strate...","['Single-player', 'Steam Achievements', 'Steam...",9.99,False,2011
5,224500,13618.0,evcentric,True,2014,2.0,Robotronic Games,"['Indie', 'Simulation', 'Strategy']",Gnomoria,"['Sandbox', 'Strategy', 'City Builder', 'Simul...","['Single-player', 'Steam Trading Cards', 'Stea...",14.99,False,2016
6,248820,2328.0,evcentric,True,None,2.0,Chucklefish,"['Action', 'Indie', 'RPG']",Risk of Rain,"['Rogue-like', 'Indie', 'Platformer', 'Action'...","['Single-player', 'Multi-player', 'Co-op', 'Sh...",9.99,False,2013
7,263360,447.0,evcentric,True,2014,1.0,Phr00t's Software,"['Action', 'Indie', 'RPG']",3089 -- Futuristic Action RPG,"['RPG', 'Indie', 'Action', 'FPS', 'Open World'...","['Single-player', 'Co-op', 'Steam Trading Cards']",6.99,False,2014
8,237930,508.0,evcentric,True,2014,2.0,Supergiant Games,"['Action', 'Indie', 'RPG']",Transistor,"['Great Soundtrack', 'Female Protagonist', 'In...","['Single-player', 'Steam Achievements', 'Full ...",19.99,False,2014
9,370360,403.0,evcentric,True,2015,2.0,Zachtronics,"['Indie', 'Simulation']",TIS-100,"['Programming', 'Puzzle', 'Indie', 'Simulation...","['Single-player', 'Steam Achievements', 'Steam...",6.99,False,2015

In [13]:
#Lo convertimos en un archivo parquet
pd_final.to_parquet(r'G:\Mi unidad\BOOTCAMPS\SOYHENRY\CIENCIA DE DATOS\CURSO\PT07\PI_MLOPS\EDA/DATASETEDA.parquet',index=False)